<div>
    {% for room in rooms%}
        <div>
            {% if room.host == user %}
                <a href="{% url 'update-room' room.id%}">Edit</a>
                <a href="{% url 'delete-room' room.id%}">Delete room</a>
            {% endif %}
            <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
            <p><a href="{% url 'room' room.id%}">{{room.name}}</a></p>
            <small>{{room.topic.name}}</small>
            <hr>
        </div>
    {% endfor%}
</div>